*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
.wrap{
  width:100%;
  height:100vh;
  background-color: #000;
  display: flex;
  flex-flow:row nowrap;
  justify-content: center;
  align-items: center;
}
._img_viewer_wrap{
}
.view_box{
  width:1000px;
  height:400px;
  position: relative;
  overflow:hidden;
  background-image: linear-gradient(to bottom, #333944, #333944 64%, #a5afb7);
}
.view_box .img_area{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
}
.view_box .img_area .img_wrap{    
  touch-action: pan-y;
  user-select: none;
  -webkit-user-drag: none;
  position: relative;
  display: inline-block;
  vertical-align: top;
  z-index: 2;
}
.view_box .img_area img{
  height:300px;
  vertical-align: top;
  -webkit-user-drag: none;
  display:none;
}

.view_box .img_area .view_bg{
  position: absolute;
  left: 54%;
  bottom: 46px;
  width: 283px;
  height: 48px;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  background: url(../img/bg_around_view.png) no-repeat 50% 0;
  background-size: 283px 48px;
}


.view_box .click_img_area{}
.view_box .btn_area{
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-size: 0;
  z-index: 3;
}
.view_box .btn_area .btn_color{
  position: relative;
  width: 30px;
  height: 30px;
  display: inline-block;
  vertical-align: top;
  background-color: rgba(51,57,68,0.9);
}
.view_box .btn_area .btn_color::before{
  content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    width: 18px;
    height: 18px;
    margin: -9px 0 0 -9px;
    display: inline-block;
    overflow: hidden;
    background: url(../img/sp_common_module_v47.png) no-repeat;
    -webkit-background-size: 200px 600px;
    background-size: 200px 600px;
    vertical-align: top;
    color: transparent;
    background-position: -102px -397px;
}

